<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('./components/head', { title: '메인' }) %>
        <link rel="stylesheet" href="/public/css/home.css" />
    </head>
    <body>
        <%- include('./components/header') %>
        <h1>Hello Express <%= userId%></h1>
        <h1>Your password is <%= userPw%></h1>
        <p>안냐세여</p>
        <!-- <% for(let btn of btns){ %>
        <button type="button" class="btn btn-primary"><%= btn%></button>
        <% } %> -->
        <%if(isLogin){%>
        <h4>로그인 완료</h4>
        <%}else{%>
        <h4>로그인 안됨</h4>
        <%}%>
        <a href="./login">로그인</a>
        <a href="./register">회원가입</a>
    </body>
</html>
